In [1]:
#Importando a biblioteca

import pandas as pd

import numpy as np

##API DENGUE

Infodengue's tables have data aggregated by week, provided by different sources. They could be consulted by a form, or directly from Python, via consult of an API. This functionality is available via the URL: https://info.dengue.mat.br/api/alertcity?params: must contain the following parameters:

geocode: city's IBGE code

disease: desease type to be consulted (str:dengue|chikungunya|zika)

format: file extension/format (str:json|csv)

ew_start: epidemiological week initial consultation (int:1-53)

ew_end: epidemiological week final consultation (int:1-53)

ey_start: year of initial consultation (int:0-9999)

ey_end: year of final consultation (int:0-9999)

Every parameter mentioned so far is obligatory for the consultation. The following example shows the requisition of the register of dengue between 1 and 52 of the year 2020, in Rio de Janeiro (geocodigo = 3304557) on CSV: https://info.dengue.mat.br/api/alertcity?geocode=3304557&disease=dengue&format=csv&ew_start=1&ew_end=52&ey_start=2021&ey_end=2021

In [40]:
# Consumunindo API - Rio de Janeiro

url = "https://info.dengue.mat.br/api/alertcity"
geocode = 3304557 # Rio de Janeiro
disease = "dengue"
format = "csv"
ew_start = 1
ew_end = 53
ey_start = 2021
ey_end = 2021

params =(
    "&disease="
    + f"{disease}"
    + "&geocode="
    + f"{geocode}"
    + "&disease="
    + f"{disease}"
    + "&format="
    + f"{format}"
    + "&ew_start="
    + f"{ew_start}"
    + "&ew_end="
    + f"{ew_end}"
    + "&ey_start=" 
    + f"{ey_start}"
    + "&ey_end="
    + f"{ey_end}"    
)

url_resp = "?".join([url, params])

#Transformando o dataset em um dataframe
df_rio = pd.read_csv(url_resp, index_col='SE')

#Criando uma nova coluna vinculando a cidade
#Assim cada consumo da API ja vai identificada 

df_rio['cidade'] = 'Rio de Janeiro'

#Exibindo o dataframe
df_rio.head()

#url_resp

,data_iniSE,casos_est,casos_est_min,casos_est_max,casos,p_rt1,p_inc100k,Localidade_id,nivel,id,...,umidmin,tempmed,tempmax,casprov,casprov_est,casprov_est_min,casprov_est_max,casconf,notif_accum_year,cidade
SE,,,,,,,,,,,,,,,,,,,,,
202152,2021-12-26,4.0,4,4,4,0.079839,0.059278,0,2,330455720215219684,...,59.640615,25.073264,29.571429,NaN,NaN,NaN,NaN,NaN,1092,Rio de Janeiro
202151,2021-12-19,4.0,4,4,4,0.003766,0.059278,0,1,330455720215119684,...,54.037376,24.617754,28.428571,NaN,NaN,NaN,NaN,NaN,1092,Rio de Janeiro
202150,2021-12-12,6.0,6,6,6,0.001777,0.088918,0,1,330455720215019684,...,54.965811,26.674948,32.285714,NaN,NaN,NaN,NaN,NaN,1092,Rio de Janeiro
202149,2021-12-05,16.0,16,16,16,0.196418,0.237114,0,1,330455720214919684,...,58.171887,23.761128,27.857143,NaN,NaN,NaN,NaN,NaN,1092,Rio de Janeiro
202148,2021-11-28,23.0,23,23,23,0.848999,0.340851,0,1,330455720214819684,...,53.428928,25.386387,29.285714,NaN,NaN,NaN,NaN,NaN,1092,Rio de Janeiro

In [46]:
# Consumunindo API - Duque de Caxias

url = "https://info.dengue.mat.br/api/alertcity"
geocode = 3301702 # Duque de Caxias
disease = "dengue"
format = "csv"
ew_start = 1
ew_end = 53
ey_start = 2020
ey_end = 2020

params =(
    "&disease="
    + f"{disease}"
    + "&geocode="
    + f"{geocode}"
    + "&disease="
    + f"{disease}"
    + "&format="
    + f"{format}"
    + "&ew_start="
    + f"{ew_start}"
    + "&ew_end="
    + f"{ew_end}"
    + "&ey_start=" 
    + f"{ey_start}"
    + "&ey_end="
    + f"{ey_end}"    
)

url_resp_dqc = "?".join([url, params])

#Transformando o dataset em um dataframe
df_caxias = pd.read_csv(url_resp_dqc, index_col='SE')

#Adicionando nova coluna

df_caxias['cidade'] = 'Duque de Caxias'

#Exibindo o dataframe

df_caxias.head()
#url_resp

,data_iniSE,casos_est,casos_est_min,casos_est_max,casos,p_rt1,p_inc100k,Localidade_id,nivel,id,...,umidmin,tempmed,tempmax,casprov,casprov_est,casprov_est_min,casprov_est_max,casconf,notif_accum_year,cidade
SE,,,,,,,,,,,,,,,,,,,,,
202053,2020-12-27,0.0,0,0,0,0.000000,0.000000,0,1,330170220205319589,...,66.359313,25.64394,28.5,NaN,NaN,NaN,NaN,NaN,70,Duque de Caxias
202052,2020-12-20,0.0,0,0,0,0.000000,0.000000,0,1,330170220205219589,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70,Duque de Caxias
202051,2020-12-13,0.0,0,0,0,0.000000,0.000000,0,1,330170220205119589,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70,Duque de Caxias
202050,2020-12-06,0.0,0,0,0,0.000000,0.000000,0,1,330170220205019589,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70,Duque de Caxias
202049,2020-11-29,1.0,1,1,1,0.663457,0.108152,0,1,330170220204919589,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70,Duque de Caxias

In [47]:
# Consumunindo API - São João de Meriti

url = "https://info.dengue.mat.br/api/alertcity"
geocode = 3305109 # São João de Meriti
disease = "dengue"
format = "csv"
ew_start = 1
ew_end = 53
ey_start = 2020
ey_end = 2020

params =(
    "&disease="
    + f"{disease}"
    + "&geocode="
    + f"{geocode}"
    + "&disease="
    + f"{disease}"
    + "&format="
    + f"{format}"
    + "&ew_start="
    + f"{ew_start}"
    + "&ew_end="
    + f"{ew_end}"
    + "&ey_start=" 
    + f"{ey_start}"
    + "&ey_end="
    + f"{ey_end}"    
)

url_resp_sjm = "?".join([url, params])
#url_resp

#Transformando o dataset em um dataframe
df_sjm = pd.read_csv(url_resp_sjm, index_col='SE')

#Adicionando nova coluna

df_sjm['cidade'] = ' São João de Meriti'

# Exibindo do dataframe
df_sjm.head()

,data_iniSE,casos_est,casos_est_min,casos_est_max,casos,p_rt1,p_inc100k,Localidade_id,nivel,id,...,umidmin,tempmed,tempmax,casprov,casprov_est,casprov_est_min,casprov_est_max,casconf,notif_accum_year,cidade
SE,,,,,,,,,,,,,,,,,,,,,
202053,2020-12-27,1.0,1,1,1,0.701498,0.211459,0,1,330510920205319589,...,66.359313,25.64394,28.5,NaN,NaN,NaN,NaN,NaN,114,São João de Meriti
202052,2020-12-20,0.0,0,0,0,0.000000,0.000000,0,1,330510920205219589,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,114,São João de Meriti
202051,2020-12-13,1.0,1,1,1,0.595059,0.211459,0,1,330510920205119589,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,114,São João de Meriti
202050,2020-12-06,0.0,0,0,0,0.000000,0.000000,0,1,330510920205019589,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,114,São João de Meriti
202049,2020-11-29,1.0,1,1,1,0.617636,0.211459,0,1,330510920204919589,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,114,São João de Meriti

In [48]:
# Consumunindo API - Niteroi

url = "https://info.dengue.mat.br/api/alertcity"
geocode = 3303302 # Niteroi
disease = "dengue"
format = "csv"
ew_start = 1
ew_end = 53
ey_start = 2020
ey_end = 2020

params =(
    "&disease="
    + f"{disease}"
    + "&geocode="
    + f"{geocode}"
    + "&disease="
    + f"{disease}"
    + "&format="
    + f"{format}"
    + "&ew_start="
    + f"{ew_start}"
    + "&ew_end="
    + f"{ew_end}"
    + "&ey_start=" 
    + f"{ey_start}"
    + "&ey_end="
    + f"{ey_end}"    
)

url_resp_nit = "?".join([url, params])
#url_resp

#Transformando o dataset em um dataframe
df_niteroi = pd.read_csv(url_resp_nit, index_col='SE')

#Adicionando uma nova coluna

df_niteroi['cidade'] = 'Niteroi'

#Exibindo o dataframe

df_niteroi.head()

,data_iniSE,casos_est,casos_est_min,casos_est_max,casos,p_rt1,p_inc100k,Localidade_id,nivel,id,...,umidmin,tempmed,tempmax,casprov,casprov_est,casprov_est_min,casprov_est_max,casconf,notif_accum_year,cidade
SE,,,,,,,,,,,,,,,,,,,,,
202053,2020-12-27,0.0,0,0,0,0.000000,0.000000,0,1,330330220205319589,...,66.359313,25.64394,28.5,NaN,NaN,NaN,NaN,NaN,171,Niteroi
202052,2020-12-20,1.0,1,1,1,0.468511,0.194055,0,1,330330220205219589,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,171,Niteroi
202051,2020-12-13,0.0,0,0,0,0.000000,0.000000,0,1,330330220205119589,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,171,Niteroi
202050,2020-12-06,2.0,2,2,2,0.921898,0.388111,0,1,330330220205019589,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,171,Niteroi
202049,2020-11-29,1.0,1,1,1,0.963177,0.194055,0,1,330330220204919589,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,171,Niteroi

In [49]:
# Consumunindo API - Belfort Roxo

url = "https://info.dengue.mat.br/api/alertcity"
geocode = 3300456 # Belfort Roxo
disease = "dengue"
format = "csv"
ew_start = 1
ew_end = 53
ey_start = 2020
ey_end = 2020

params =(
    "&disease="
    + f"{disease}"
    + "&geocode="
    + f"{geocode}"
    + "&disease="
    + f"{disease}"
    + "&format="
    + f"{format}"
    + "&ew_start="
    + f"{ew_start}"
    + "&ew_end="
    + f"{ew_end}"
    + "&ey_start=" 
    + f"{ey_start}"
    + "&ey_end="
    + f"{ey_end}"    
)

url_resp_bfr = "?".join([url, params])

df_belfort = pd.read_csv(url_resp_bfr, index_col='SE')
#url_resp

#Adicionando uma nova coluna

df_belfort['cidade'] = 'Belfort roxo'

#Exibindo o dataframe

df_belfort.head()

,data_iniSE,casos_est,casos_est_min,casos_est_max,casos,p_rt1,p_inc100k,Localidade_id,nivel,id,...,umidmin,tempmed,tempmax,casprov,casprov_est,casprov_est_min,casprov_est_max,casconf,notif_accum_year,cidade
SE,,,,,,,,,,,,,,,,,,,,,
202053,2020-12-27,0.0,0,0,0,0.000000,0.000000,0,1,330045620205319589,...,66.359313,25.64394,28.5,NaN,NaN,NaN,NaN,NaN,263,Belfort roxo
202052,2020-12-20,0.0,0,0,0,0.000000,0.000000,0,1,330045620205219589,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,263,Belfort roxo
202051,2020-12-13,0.0,0,0,0,0.000000,0.000000,0,1,330045620205119589,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,263,Belfort roxo
202050,2020-12-06,0.0,0,0,0,0.000000,0.000000,0,1,330045620205019589,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,263,Belfort roxo
202049,2020-11-29,1.0,1,1,1,0.730351,0.194887,0,1,330045620204919589,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,263,Belfort roxo

In [35]:
# Consumunindo API - Nova Iguaçu

url = "https://info.dengue.mat.br/api/alertcity"
geocode = 3303500 # Nova Iguaçu
disease = "dengue"
format = "csv"
ew_start = 1
ew_end = 53
ey_start = 2020
ey_end = 2020

params =(
    "&disease="
    + f"{disease}"
    + "&geocode="
    + f"{geocode}"
    + "&disease="
    + f"{disease}"
    + "&format="
    + f"{format}"
    + "&ew_start="
    + f"{ew_start}"
    + "&ew_end="
    + f"{ew_end}"
    + "&ey_start=" 
    + f"{ey_start}"
    + "&ey_end="
    + f"{ey_end}"    
)

url_resp_nvi = "?".join([url, params])

#Transformando o dataset em dataframe
df_niteroi = pd.read_csv(url_resp_nvi, index_col='SE')

#Adicionando uma nova coluna


#url_resp

In [51]:
# Consumunindo API - Nilopolis

url = "https://info.dengue.mat.br/api/alertcity"
geocode = 3303203 # Nilopolis
disease = "dengue"
format = "csv"
ew_start = 1
ew_end = 53
ey_start = 2020
ey_end = 2020

params =(
    "&disease="
    + f"{disease}"
    + "&geocode="
    + f"{geocode}"
    + "&disease="
    + f"{disease}"
    + "&format="
    + f"{format}"
    + "&ew_start="
    + f"{ew_start}"
    + "&ew_end="
    + f"{ew_end}"
    + "&ey_start=" 
    + f"{ey_start}"
    + "&ey_end="
    + f"{ey_end}"    
)

url_resp_nlp = "?".join([url, params])

#Transformando o dataset em dataframe
df_niteroi = pd.read_csv(url_resp_nlp, index_col='SE')

#Adicionando uma novo coluna

df_niteroi['cidade'] = 'Niteroi'

#Exibindo o dataframe
df_niteroi.head()

#url_resp

,data_iniSE,casos_est,casos_est_min,casos_est_max,casos,p_rt1,p_inc100k,Localidade_id,nivel,id,...,umidmin,tempmed,tempmax,casprov,casprov_est,casprov_est_min,casprov_est_max,casconf,notif_accum_year,cidade
SE,,,,,,,,,,,,,,,,,,,,,
202053,2020-12-27,0.0,0,0,0,0.0,0.0,0,1,330320320205319589,...,66.359313,25.64394,28.5,NaN,NaN,NaN,NaN,NaN,8,Niteroi
202052,2020-12-20,0.0,0,0,0,0.0,0.0,0,1,330320320205219589,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,Niteroi
202051,2020-12-13,0.0,0,0,0,0.0,0.0,0,1,330320320205119589,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,Niteroi
202050,2020-12-06,0.0,0,0,0,0.0,0.0,0,1,330320320205019589,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,Niteroi
202049,2020-11-29,0.0,0,0,0,0.0,0.0,0,1,330320320204919589,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,Niteroi

In [53]:
#Concatenando os dataframe em apenas 1

df_dados = pd.concat([df_belfort,df_caxias,df_niteroi,df_rio,df_sjm])

#Exibindo o dataframe

df_dados.head()

,data_iniSE,casos_est,casos_est_min,casos_est_max,casos,p_rt1,p_inc100k,Localidade_id,nivel,id,...,umidmin,tempmed,tempmax,casprov,casprov_est,casprov_est_min,casprov_est_max,casconf,notif_accum_year,cidade
SE,,,,,,,,,,,,,,,,,,,,,
202053,2020-12-27,0.0,0,0,0,0.000000,0.000000,0,1,330045620205319589,...,66.359313,25.64394,28.5,NaN,NaN,NaN,NaN,NaN,263,Belfort roxo
202052,2020-12-20,0.0,0,0,0,0.000000,0.000000,0,1,330045620205219589,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,263,Belfort roxo
202051,2020-12-13,0.0,0,0,0,0.000000,0.000000,0,1,330045620205119589,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,263,Belfort roxo
202050,2020-12-06,0.0,0,0,0,0.000000,0.000000,0,1,330045620205019589,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,263,Belfort roxo
202049,2020-11-29,1.0,1,1,1,0.730351,0.194887,0,1,330045620204919589,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,263,Belfort roxo

In [ ]:
#Criando um nova coluna e atribuindo valor a ela

In [38]:
#Verificando as colunas 

df_dados.info()

<class 'pandas.core.frame.DataFrame'>
Index: 260 entries, 202152 to 202101
Data columns (total 29 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   data_iniSE        260 non-null    object
 1   casos_est         260 non-null    float64
 2   casos_est_min     260 non-null    int64
 3   casos_est_max     260 non-null    int64
 4   casos             260 non-null    int64
 5   p_rt1             260 non-null    float64
 6   p_inc100k         260 non-null    float64
 7   Localidade_id     260 non-null    int64
 8   nivel             260 non-null    int64
 9   id                260 non-null    int64
 10  versao_modelo     260 non-null    object
 11  tweet             260 non-null    float64
 12  Rt                260 non-null    float64
 13  pop               260 non-null    float64
 14  tempmin           260 non-null    float64
 15  umidmax           260 non-null    float64
 16  receptivo         260 non-null    int64
 17  transmissao       260 non-null    int64
 18  nivel_inc         260 non-null    int64
 19  umidmed           260 non-null    float64
 20  umidmin           260 non-null    float64
 21  tempmed           260 non-null    float64
 22  tempmax           260 non-null    float64
 23  casprov           0 non-null      float64
 24  casprov_est       0 non-null      float64
 25  casprov_est_min   0 non-null      float64
 26  casprov_est_max   0 non-null      float64
 27  casconf           0 non-null      float64
 28  notif_accum_year  260 non-null    int64
dtypes: float64(17), int64(10), object(2)
memory usage: 60.9+ KB

In [54]:
#Especificando as penas as colunas que irei usar

df_dados_01 = df_dados.drop(['casprov','casprov_est','casprov_est_min','casprov_est_max','casconf','versao_modelo','id','tweet'],axis=1)

df_dados_01.info()

<class 'pandas.core.frame.DataFrame'>
Index: 264 entries, 202053 to 202001
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   data_iniSE        264 non-null    object
 1   casos_est         264 non-null    float64
 2   casos_est_min     264 non-null    int64
 3   casos_est_max     264 non-null    int64
 4   casos             264 non-null    int64
 5   p_rt1             264 non-null    float64
 6   p_inc100k         264 non-null    float64
 7   Localidade_id     264 non-null    int64
 8   nivel             264 non-null    int64
 9   Rt                264 non-null    float64
 10  pop               264 non-null    float64
 11  tempmin           264 non-null    float64
 12  umidmax           248 non-null    float64
 13  receptivo         264 non-null    int64
 14  transmissao       264 non-null    int64
 15  nivel_inc         264 non-null    int64
 16  umidmed           248 non-null    float64
 17  umidmin           248 non-null    float64
 18  tempmed           248 non-null    float64
 19  tempmax           248 non-null    float64
 20  notif_accum_year  264 non-null    int64
 21  cidade            264 non-null    object
dtypes: float64(11), int64(9), object(2)
memory usage: 47.4+ KB

In [59]:
df_dados['cidade'].value_counts()

cidade
Belfort roxo           53
Duque de Caxias        53
Niteroi                53
 São João de Meriti    53
Rio de Janeiro         52
Name: count, dtype: int64

In [62]:
df_dados['casos_est'].unique()

array([ 0.,  1.,  3.,  2.,  6.,  5.,  8.,  4.,  7., 22., 23., 10., 14.,
       13., 38., 24., 25., 12.,  9., 16., 20., 17., 19., 28., 21., 33.,
       34., 40., 49., 50., 39., 30., 36., 48., 52., 45., 27., 15., 18.])